<p><button (click)="auth.loginWithRedirect()">Log in</button> or <button (click)="auth.logout()">Log out</button></p>

<br>
<p>Making a http call to a public resource => user$ triggered once </p>
<p>Go to <a routerLink="/public-page" >Public Page</a> and check console</p>
<br>
<p>Making a http call with AuthHttpInterceptor headers causes user$ to trigger twice </p>
<p>Go to <a routerLink="/private-page" >Private Page</a> and check console</p>
<p>Go to <a routerLink="/lazy/lazy-private-page" >Lazy Private Page</a> and check console</p>

<router-outlet></router-outlet>
